.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    

    .title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .heading {
        display: flex;
        margin-left: 20px;
       padding: auto 10px;

       
        
       @media only screen and (max-width: 650px) {
        margin-left: 10px;
        
      }

        .view {
            margin-top: 32px;
            padding-left: 10px;
            cursor:pointer;
        }
    }

    .preview {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        @media only screen and (max-width: 650px) {
            grid-template-columns: 1fr 1fr;
            grid-gap:10px;
            justify-content: space-evenly;
           margin-bottom: -40px;
            
          }
    }

}