.order-confirmation-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    width: 600px;
    justify-content: center;

    @media only screen and (max-width: 650px) {
        width: 100%;
        left: unset;

    }
    
    .top-message {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
}