body {
    font-family: 'Open Sans Condensed';
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: fit-content;
  
}



.app .spinner {
    position: relative;
    left: 35%;
    top: 40%;
}

a {
    text-decoration: none;
    color: black;

}

* {
    box-sizing: border-box;
}

