.spring {
    background: green;
  
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: unset;

    .option{
        padding: 10px;
      color: white;
    }
}