.signin {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin:  10px 0;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        

        button {
            @media only screen and (max-width: 650px) {
             
                font-size: 14px;
                padding: 0 25px 0 25px;
            }
        }

      

    }

    @media only screen and (max-width: 650px) {
        width: 335px;
        justify-content: center;
        margin: auto 40px;
       
    }
}