.sign-up {
    display:  flex;
    flex-direction: column;
    width: 380px;
    text-align: center;

    .title {
        margin: 10px 0;
          
    }

    @media only screen and (max-width: 650px) {
        width: 335px;
        justify-content: center;
        margin: 40px;
       
    }
}