.footer-wrapper {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    margin-top: 5px ;
    margin-left: -20px;
    margin-right: -20px;

    .footer {
        text-align: center;
        font-size: small;
        line-height: 1.4em;
       letter-spacing: 2pt;
       padding: 20px 0;

        .extra-info {
            font-style: italic;
        }
    }
}