.cart-alert {
    width: 40%;
    text-align: center;
    font-size: 18px;
    padding: 18px;
    color: white;
    background: green;
    position: absolute;
    z-index: 999;
    top: -1px;
    left: 30%;
    transition: top 0.7s ease-in-out;
    

    @media only screen and (max-width: 650px) {
        width: 100%;
        left: 0;
    }
}