.order-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
   width: 600px;
   position: relative;
   left: 20%;
   
   @media only screen and (max-width: 650px) {
       width: 400px;
       left: unset;
   }

}